.navbar-nav > li > a{
   height: 80px;
}

.container-fluid {
   margin-left: 15px;
}

.nav-tabs {
    border-bottom: 3px solid #dddddd;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -3px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: 3px solid #dddddd;
  border-bottom-color: transparent;
}

.modal-dialog{
  min-width: 600px;
  width: 55%;
}

.modal-lg {
  width: 95%;
}

.modal-sm {
  width: 400px;
}

.modal-header{
  display: none;
}

.modal-footer{
  display: none;
}

.introjs-fixParent.modal {
  z-index:1050 !important;
}
.modal-open > .introjs-helperLayer {
  background-color:transparent;
}
